@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background-color: #05010D;
    color: white;
}

/* TEXT */
h2 {
    @apply text-3xl font-medium;
}

h3{ 
    @apply text-xl font-bold;
}

h4 {
    @apply text-sm font-bold;
}

p{
    @apply text-[13px] font-medium; 
}
/* BUTTON */
.signin-button {
    @apply py-2 px-16 border-[1px] bg-neutral-50 flex items-center justify-center gap-2 rounded-[6px] text-sm font-semibold text-neutral-800;
}

.next-button {
    @apply bg-white text-white font-semibold text-black text-[14px] px-6 py-2  rounded-full flex gap-2 items-center justify-center hover:bg-neutral-200;
}

/* INPUT */




textarea:focus {
    outline: none;
}
/* .question-textarea {
    @apply ;
} */

/*



{
    area: physic,
    questions: [
        "Am i more confident?",
        ""
    ]
}

*/